.content {
  .tag-wrapper {
    flex-wrap: wrap;

    nz-tag {
      margin: 5px;
    }
  }

  .legend {
    padding: 0 10%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    nz-tag {
      margin: 5px;
    }
  }
  nz-spin{
    padding: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container > div {
    margin-top: 20px;
  }
}
