<div class="container">
  <div class="sidebar">
    <form #analyzerForm="ngForm" (ngSubmit)="submitForm()" class="mw" nz-form nzLayout="vertical">
      <nz-form-item>

        <nz-form-label>Analyzers</nz-form-label>
        <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="selectedAnalyzersChange($event)">
          <nz-space nzDirection="vertical">
            <div *ngFor="let item of analyzerOptions" nz-col><label nz-checkbox
                                                                    [nzValue]="item.value">{{item.display_name}}</label>
            </div>
          </nz-space>
        </nz-checkbox-wrapper>
      </nz-form-item>
      <nz-form-item>

        <nz-form-label nzRequired>Text</nz-form-label>
        <nz-form-control nzErrorTip="This field is required">
            <textarea [(ngModel)]="text" name="text" nz-input placeholder="Text to analyze"
                      required
                      rows="22"></textarea>

        </nz-form-control>
      </nz-form-item>

      <button [disabled]="!analyzerForm.form.valid" [nzLoading]="isLoading" class="mw" nz-button nzType="primary">
        Analyze
      </button>
    </form>
  </div>
  <div class="content">
    <nz-spin *ngIf="isLoading" [nzSize]="'large'" [nzSpinning]="isLoading" nzSimple></nz-spin>
    <ng-container *ngIf="resultSource?.length > 0 && !this.isLoading">
      <div class="legend">
        <span class="lang" style="margin-right: auto">Language: {{language}}</span>
        <div>
          <nz-tag *ngFor="let color of COLORKEYS" [nzColor]="COLORS[color]">{{color}}
          </nz-tag>
        </div>
      </div>
      <div class="container">
        <div>
          <div *ngFor="let key of resultSource" class="flex-col">
            <h1>{{key}}</h1>
            <div class="tag-wrapper flex-row" *ngIf="results[key].length >0">
              <ng-container *ngFor="let item of results[key]">
                <nz-tag *ngIf="item.tag" nz-tooltip nzColor="{{COLORS['KEYWORD']}}"
                        nzTooltipTitle="KEYWORD">{{item.tag}}
                </nz-tag>
                <nz-tag *ngIf="item.type && item.entity" [nzColor]="COLORS[item.type]" [nzTooltipTitle]="item.type"
                        nz-tooltip>{{item.entity}}
                </nz-tag>
              </ng-container>
            </div>
            <p *ngIf="results[key].length === 0">No entities found</p>
          </div>
        </div>
        <div>
          <h1>Article Text</h1>
          <div>{{resultTextData.text}}</div>
        </div>
      </div>
    </ng-container>
    <div class="container" *ngIf="!resultSource && !this.isLoading">
      <section style="max-width: 800px">
        <h2>Keyword Extraction</h2>
        <p>Keyword extraction systems aim to automatically extract the most important keywords in a news article. Named
          entity recognition systems detect persons, locations and organisations mentioned in text. Upload an article,
          and try out our article analyser functionalities.
          <br>The supervised systems learn to recognize the keywords/named entities via training on manually labeled
          (i.e. supervised) examples, while unsupervised systems (usually with lower performance) do not need any
          training corpus and can function in any language.
        </p>
        <h2>TNT-KID (Croatian, Estonian, Latvian, Slovenian, English)</h2>
        <p>
          TNT-KID is a system for automatic keyword extraction. It was trained on a corpus of articles with
          human-assigned keywords. For Croatian the annotators were 24sata editors, for Estonian the Ekspress Meedia
          staff and for Latvian the Latvian Delfi staff. For Slovenian and English, public datasets were used. More info
          (including how to train the system on your data or language) is available <a
          href="https://github.com/EMBEDDIA/tnt_kid" target="_blank">HERE</a>. For Estonian and Latvian, the results of
          TNT-KID are
          expanded by tagset
          matching (as explained <a href="https://aclanthology.org/2021.hackashop-1.4/" target="_blank">HERE</a>).
        </p>
        <h2>RAKUN (any language)</h2>
        <p>RAKUN is an automatic system for keyword extraction that does not need any training (it is unsupervised) so
          it can be used for any language. It detects keywords by turning text into a graph and the most important nodes
          in the graph mostly turn out to be the keywords.</p>
        <p>Additional information: <a href="https://github.com/EMBEDDIA/RaKUn" target="_blank">https://github.com/EMBEDDIA/RaKUn</a>
        </p>

        <h2>BERT (multilingual)</h2>
        <p>This is a keyword extraction system, trained on datasets of six different languages, and can be used on any
          language supported by mBERT.</p>
        <p> More details are available <a href="https://arxiv.org/pdf/2202.06650v1.pdf" target="_blank">HERE</a>.</p>

        <h2>Named Entity Extraction</h2>
        <p>Names of people, organizations, and locations are called named entities. These are often the most important
          pieces of information people search for in articles. Luckily, they can be automatically extracted from text
          with modern machine learning tools. Our tools use several different modern approaches to extract named
          entities in several languages.
        </p>

        <h2>Named Entity Extractor - TEXTA MLP (Multilingual)</h2>
        <p>This tool incorporates several approaches for extraction of named entities (people, organizations, locations)
          and works for several languages and different types of text.</p>
        <p>Additional information: <a href="https://pypi.org/project/texta-mlp" target="_blank">https://pypi.org/project/texta-mlp</a><a
          href="https://git.texta.ee/texta/texta-mlp-python" target="_blank">
          https://git.texta.ee/texta/texta-mlp-python</a></p>
      </section>
    </div>
  </div>
</div>
