<nz-layout class="mh">
  <nz-header class="flex-row">
    <h3>Embeddia demo</h3>
    <ul nz-menu nzMode="horizontal" nzTheme="dark">
      <li nz-menu-item nzMatchRouter><a [routerLink]="['hate-speech-detection']">Hate Speech Detection</a></li>
      <li nz-menu-item nzMatchRouter><a [routerLink]="['entity-extraction']">Keyword & Entity Extraction</a></li>
      <li nz-menu-item nzMatchRouter><a [routerLink]="['article-generation']">Article generation</a></li>
      <li nz-menu-item nzMatchRouter><a [routerLink]="['dashboard']">Dashboard</a></li>
    </ul>
  </nz-header>
  <nz-content class="mh">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
