<div class="flex-col mw mh container-padding">
  <h1 style="align-self: center">EMBEDDIA Media Assistant Demonstrator</h1>
  <div nz-row [nzGutter]="12">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Comment analyzer" [nzExtra]="commentAnalyzerExtra" style="min-height: 172px">
        <p>Detect offensive comments</p>
      </nz-card>
      <ng-template #commentAnalyzerExtra>
        <button nz-button nzType="primary" [routerLink]="['comment-analyzer']">
          <i nz-icon nzType="arrow-right"></i>
        </button>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Article Analyzer" [nzExtra]="articleAnalyzerExtra" style="min-height: 172px">
        <p>Extract keywords and names of people, organisations and locations.</p>
      </nz-card>
      <ng-template #articleAnalyzerExtra>

        <button nz-button nzType="primary" [routerLink]="['article-analyzer']">
          <i nz-icon nzType="arrow-right"></i>
        </button>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Article Generator" [nzExtra]="articleGeneratorExtra" style="min-height: 172px">
        <p>Produces short descriptive texts about the COVID-situation and Eurostat statistics.
        </p>
      </nz-card>
      <ng-template #articleGeneratorExtra>
        <button nz-button nzType="primary" [routerLink]="['article-generation']" >
          <i nz-icon nzType="arrow-right"></i>
        </button>
      </ng-template>
    </div>
  </div>
  <div style="margin-top: auto; margin-right: auto;" nz-row>
    <img src="assets/embeddialogo.png" style="height: 90px; width: auto; margin-right: 1em;">
    <div nz-row style="text-align: center;">
      <img src="assets/EUFlag.svg" style="height: 90px; width: auto">
      <p style="width: 300px; margin-left: 1em; margin-bottom: 0;align-self: center">This project has received funding
        from European Union's Horizon 2020 research and innovation programme under grant agreement No 825153</p>
    </div>
  </div>
</div>

