<div class="flex-col mw mh align-center container-padding">
  <h1>EMBEDDIA Media Assistant Demonstrator</h1>
  <nz-spin class="margin-10" [nzSpinning]="loading"></nz-spin>
  <div *ngIf="!loading">
    <div class="flex-row flex-wrap" style="justify-content: center;">
      <div class="margin-10" *ngFor="let service of services">
        <nz-tag [nzColor]="service.value ? '#66bb6a' : '#ef5350'" class="tag" nz-tooltip
                [nzTooltipTitle]="service.value ? 'ONLINE' : 'OFFLINE'">{{service.key}}</nz-tag>
      </div>
    </div>

  </div>
  <div style="margin-top: auto; margin-right: auto;" nz-row>
    <img src="assets/embeddialogo.png" style="height: 90px; width: auto; margin-right: 1em;">
    <div nz-row style="text-align: center;">
      <img src="assets/EUFlag.svg" style="height: 90px; width: auto">
      <p style="width: 300px; margin-left: 1em; margin-bottom: 0;align-self: center">This project has received funding
        from European Union's Horizon 2020 research and innovation programme under grant agreement No 825153</p>
    </div>
  </div>
</div>

